.main
  -# = render partial: 'shared/search', locals: {tab_index: 1}
  .content
    .contentGroup
      .contentGroup__title= @group.group_name
      - @group.documents.each do |document|
        .contentGroup__doc
          = link_to document_path(document.id), class: :contentGroup__link do
            = document.title
  .side
    .side__title
    .side__note 
