.main
  .content
    .contentGroup
      .contentGroup__title
        - @documents.each do |document|
          .contentGroup__doc
            = link_to document_path(document.id), class: :contentGroup__link do
              = document.title
  = render partial: 'shared/side', locals: {tab_index: 1}
