= link_to document_path(document.id), class: :'contentGroup__link' do
  .contentGroup__doc
    .contentGroup__doc--title
      %span= document.title
    .contentGroup__doc--note
      %span= document.note
