.search
  .searchBox
    %h4 検索
    %form.searchBox__form
      %input{type: "text", name: "search-input1", class: :"searchBox__input"}
      %input{type: "submit", value: "検索", class: :"searchBox__btn"}
  .searchAbstract
    .searchAbstract__area
