= link_to document_path(document.id), class: :'contentSection__link' do
  .contentSection__doc
    .contentSection__doc--title
      %span= document.title
    .contentSection__doc--note
      %span= document.note
