.side
  .search
    %h4 検索
    %form.search_form
      %input{type: "text", name: "search-input1", class: :"search-input"}
      %input{type: "submit", value: "検索", class: :"search-btn"}
  .abstract
    .abstract__area
    .abstract__area
    .abstract__area
    .abstract__area
