.side
  .sideSection
    .sideSection__heading 文書区分一覧
    - @sections.each do |section|
      .sideSection__title
        = link_to section_path(section.id), class: :sideSection__link do
          = section.section_name