.section
  = render partial: 'shared/menu'
  .sectionWrap
    .sectionContent
      .sectionContent__box
        .sectionContent__title= @section.section_name
        - @section.documents.each do |document|
          = render partial: 'shared/section_doc', locals: {document: document}
    = render partial: 'shared/side'
