= form_with url: alt_update_document_path(@document.id), local: true, class: :register__form, id: :document_form do |form|
  %table
    %tr
      %th.register__form--th 代替文書
      %td.register__form--td= form.text_area :alt, value: @document.alt,class: :'register__text register__text--area_alt'
  .register__submit
    = form.submit '登録する', class: :'register__submit--btn'
