.details
  .detailsWrap
    .detailsContent
      .detailsContent__area
        %iframe{src: @document.src, class: :detailsContent__view}
    .detailsSide
      %table.detailsTable
        %tr
          %th.detailsTable__th 区分名
          - if @document.section.present?
            %td.detailsTable__td= @document.section.section_name
          - else
            %td.detailsTable__td= '（未登録）'
        %tr
          %th.detailsTable__th 文書名
          %td.detailsTable__td= @document.title
        %tr
          %th.detailsTable__th 説明
          %td.detailsTable__td= @document.note
      .detailsComment

