.main
  .content
    .contentArea
      %iframe{src: @document.src, class: :contentArea__view}
  .side
    %table.sideTable
      %tr
        %th.sideTable__th 区分名
        %td.sideTable__td= @document.group.group_name
      %tr
        %th.sideTable__th 文書名
        %td.sideTable__td= @document.title
      %tr
        %th.sideTable__th 説明
        %td.sideTable__td= @document.note
    .sideComment

