@media screen and (max-width: 700px) {
  .header {
    padding: 0;
    .headerBar {
      display: flex;
    }
    .heading {
      display: none;
    }
  }
  .footer {
    &__copyright {
      font-size: 10px;
    }
  }
}

@media screen and (min-width: 700px) {
  .header {
    padding: 10px;
    .headerBar {
      display: none;
    }
    .heading {
      display: flex;
      width: 700px;
      .headingTitle {
        font-size: 20px;
        & i {
          width: 24px;
        }
      }
      .headingUser {
        &__nickname {
          max-width: 100px;
        }
      }
      .headingSearch {
        &__container {
          width: 90%;
        }
      }
    }
  }
  .footer {
    &__wrap {
      width: 700px;
    }
    &__copyright {
      font-size: 12px;
    }
  }
}


@media screen and (min-width: 1020px) {
  .header {
    .heading {
      width: 1020px;
      .headingTitle {
        font-size: 24px;
        & i {
          width: 28px;
        }
      }
      .headingUser {
        &__nickname {
          max-width: 200px;
        }
      }
    }
  }
  .footer {
    &__wrap {
      width: 1020px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    .heading {
      width: 1200px;
      .headingSearch {
        &__container {
          width: 80%;
        }
      }
    }
  }
  .footer {
    &__wrap {
      width: 1200px;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  // <a href="https://pixabay.com/ja/users/ddzphoto-5605533/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4827988">ddzphoto</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4827988">Pixabay</a>からの画像
  background-image: url('/images/mijas-4827988_1280.jpg');
  
  // <a href="https://pixabay.com/ja/users/nuidoithaonguyen-16040547/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5112952">Son Hoa Nguyen</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5112952">Pixabay</a>からの画像
  // background-image: url('/images/mountains-and-hills-5112952_1280');
  
  // <a href="https://pixabay.com/ja/users/enriquelopezgarre-3764790/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5009868">enriquelopezgarre</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5009868">Pixabay</a>からの画像
  // background-image: url('/images/landscape-5009868_1280');

  // background-color: $back_color;

  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"メイリオ",'Meiryo','Osaka','ＭＳ Ｐゴシック','MS PGothic',sans-serif;;
}

h4 {
  padding: 5px 15px 0px;
  color: $white_color;
  font-size: 14px;
  font-weight: normal;
}

.header {
  background: rgba($main_color,0.85);
  position: relative;
}

.heading {
  height: 36px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  .headingTitle {
    font-family: $title_font;
    color: $white_color;
    white-space: nowrap;
    &:hover {
      color: #dddddd;
    }
    &__link {
      text-decoration: none;
      color: $white_color;
      &:hover {
        color: #dddddd;
      }
    }
    & i {
      color: $icon_color;
    }
  }
  .headingSearch {
    display: inline-block;
    flex-grow: 1;
    &__container {
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
    &__input {
      display: inline-block;
      width: 100%;
      height: 25px;
      padding: 0 5px;
      font-size: 14px;
    }
    &__btn {
      width: 50px;
      height: 25px;
      margin-left: 5px;
      font-size: 13px;
      color: $main_color;
    }
    &__submit {
      width: 100%;
      height: 25px;
      border-radius: 3px;
      color: $main_color;
      background-color: #eeeeee;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .headingUser {
    height: 25px;
    color: $white_color;
    display: flex;
    &__btn {
      display: block;
      height: 25px;
      line-height: 25px;
      padding: 0px 4pt;
      margin-left: 5px;
      border-radius: 4px;
      font-size: 13px;
      text-decoration: none;
      color: $main_color;
      background-color: #eeeeee;
      border: solid 1px #777777;
      &:hover {
        opacity: 0.7;
      }
    }
    &__nickname {
      display: block;
      line-height: 25px;
      white-space: nowrap;
      overflow: scroll;
      font-size: 14px;
      text-decoration: none;
      color: $white_color;
      &--text {
        &:hover {
          color: #dddddd;
        }
      }
    }
  }
}

.headerBar {
  align-items: center;
  height: 56px;
  padding: 10px;
  .headerBtn {
    height: 20px;
    width: 24px;
    position: relative;
    cursor: pointer;
    & span {
      display: block;
      width: 24px;
      height: 3px;
      border-radius: 1px;
      background: $white_color;
      position: absolute;
      top: 8px;
      &::before, &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 1px;
        background: $white_color;
        position: absolute;
      }
      &::before {
        margin-top: -8px;
      }
      &::after {
        margin-top: 8px;
      }
    }
  }
  .hiddenTitle {
    line-height: 24px;
    font-size: 20px;
    margin: -2px 0 0 20px;
    font-family: $title_font;
    color: $white_color;
    &__link {
      text-decoration: none;
      color: $white_color;
      &:hover {
        color: #dddddd;
      }
    }
    & i {
      color: $icon_color;
      width: 24px
    }
  }
}

.hiddenMenu {
  display: none;
  padding: 0 15px 5px;
  background: rgba($main_color,0.85);
  position: absolute;
  z-index: 1;
  width: 100%;
  .hiddenSearch {
    margin: 15px 0;
    &__input {
      width: calc(100vw - 100px);
      height: 25px;
      padding: 5px;
      font-size: 14px;
    }
    &__submit {
      margin-left: 5px;
      font-size: 13px;
      width: 50px;
      height: 25px;
      background-color: #eeeeee;
      color: $main_color;
      border-radius: 3px;
      &:hover {
        opacity: 0.7;
      }
    }
  }  
  .hiddenContent {
    padding: 10px 5px;
    color: $white_color;
    border-top: 0.5px solid #555555;
    &__btn {
      padding: 5px 4pt;
      border-radius: 4px;
      font-size: 14px;
      text-decoration: none;
      color: $main_color;
      background-color: #eeeeee;
      border: solid 1px #777777;
      &:hover {
        opacity: 0.7;
      }
    }
    &__nickname {
      margin-right: 10px;
      font-size: 14px;
      text-decoration: none;
      color: $white_color;
      &:hover {
        color: #dddddd;
      }
    }
  }
}

.hiddenContent {
  &__heading {
    text-decoration: none;
    font-size: 14px;
    color: $white_color;
    &:hover {
      opacity: 0.7;
    }
  }
}

.footer {
  height: 40px;
  background: rgba($main_color,0.85);
  &__wrap {
    margin: 0 auto;
    color: $white_color;
  }
  &__image {
    padding: 1px 2px;
    text-align: right;
    font-size: 10px;
    color: #dddddd;
    & a {
      text-decoration: none;
      color: #dddddd;
      &:hover {
        color: #bbbbbb;
      }
    }
  }
  &__copyright {
    text-align: center;
    // font-size: 12px;
    font-family: Helvetica;
  }
}
