$white: #ffffff;
// $main_color: #272d75;
$main_color: #47266e;
$side_text: #222222;
// $side_color: #4d5183;
// $side_color: #4d4398;
$sub_color: #cfcfcf;
$side_color: #a2d7dd;
$text_color: #2e379b;
$doc_color: #2e379b;
// $menu_color: #253c7c;
$menu_color: #5a4498;
$back_color: #f8f8f8;
$bg_color: #ebebf5;
$explain_color: #ffedab;
$user_color: #ffedab;
$text_bg_color: #ffffff;
$open_color: #dc143c;
$text_red: #dc143c;
$text_blue: #3300ff;
