$white: #ffffff;
$main_color: #47266e;
$side_text: #222222;
$sub_color: #cfcfcf;
$side_color: #a2d7dd;
$text_color: #2e379b;
$doc_color: #2e379b;
$menu_color: #5a4498;
$back_color: #f8f8f8;
$bg_color: #ebebf5;
$explain_color: #ffedab;
$user_color: #ffedab;
$text_bg_color: #ffffff;
$white_color: #ffffff;
$open_color: #dc143c;
$text_red: #dc143c;
$text_blue: #3300ff;
$btn_color: #6953a7;
$detail_side: #a4a8d4;
$icon_color: #d4dcd3;
$good_color: #ffd700;
$title_font: 'GlimChe';
