$white: #ffffff;
// $main_color: #2d3e6d;
$main_color: #272d75;
$side_color: #4d5183;
// $sub_color: #3e4c74;
$sub_color: #cfcfcf;
// $text_color: #2e38d1;
$text_color: #2e379b;
// $menu_color: #283a6b;
$menu_color: #253c7c;
$back_color: #f8f8f8;