@media screen and (min-width: 380px) {
  .detailsWrap {
    max-width: 800px;
  }
  .detailsContent {
    &__area {
      overflow: scroll;
      width: calc(100vw);
    }
    &__view {
      // height: 100%;
    }
  }
  .detailsSide {
    height: auto;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .detailsWrap {
    width: 800px;
    margin: 0 auto;
  }
  .detailsContent {
    &__area {
      width: 800px;
    }
    &__view {
      // height: 100%;
    }
  }
  .detailsSide {
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .detailsWrap {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
  }
  .detailsContent {
    #details_scroll {
      display: none;
    }
    &__area {
      width: 800px;
    }
    &__view {
      // height: 100%;
    }
  }
  .detailsSide {
    height: calc(100vh - 76px);
    min-width: 400px;
  }
}

.details {
  background-color: $back_color;
}

.detailsContent {
  position: relative;
  #details_scroll {
    padding-top: 60px;
    & span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      opacity: 0.7;
      border: 2px solid #ffffff;
      // background-color: #aaaaaa;
      border-radius: 100%;
      box-sizing: border-box;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;        
      }
    }
  }
  &__header {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    color: #ffffff;
    background-color: $menu_color;
    display: flex;
    justify-content: space-between;
    &--title {
      font-size: 16px;
      display: inline-block;
      white-space: nowrap;
      overflow: scroll;
    }
    &--btn {
      min-width: 90px;
    }
    &--alter {
      width: 100%;
      padding: 3px;
      font-size: 14px;
      text-decoration: none;
      background-color: #eeeeee;
      color: $main_color;
      border-radius: 3px;
    }
  }
  &__area {
    height: calc(100vh - 116px);
    background-color: $main_color;
  }
  &__view {
    height: 100%;
    width: 100%;
  }
  &__alter {
    height: 100%;
    width: 100%;
    background-color: #cab8d9;
    overflow: scroll;
    padding: 0px 20px 20px;
  }
  &__origin {
    line-height: 35px;
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: scroll;
  }
  &__link {
    line-height: 35px;
    text-decoration: none;
    text-decoration: underline;
    color: blue;
  }
  &__frame {
    min-height: 200px;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    background-color: #f7f6fb;
  }
}

.detailsSide {
  overflow: scroll;
  background-color: #a4a8d4;
  padding: 20px 20px 60px;
  &__link {
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 5px;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color: $main_color;
    &:hover {
      color: #dddddd;
    }
  }
  .detailsTable {
    margin: 0 0 20px;
    min-width: 100%;
    font-size: 12px;
    &__th {
      width: 20%;
      padding: 8px;
      text-align: center;
      border: solid 1px #999999;
      background-color: #eeeeee;
    }
    &__td {
      width: 61%;
      padding: 8px;
      word-break: break-all;
      border:solid 1px #999999;
      background-color: #fefefe;
      &--title {
        font-size: 14px;
        font-weight: bold;
      }
    }
    &__link {
      color: blue;
      text-decoration: none;
      &--url {
        line-height: 0.5em;
        font-size: 10px;
      }
      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
    &__disclosure {
      margin-left: 8px;
      padding: 3px;
      font-size: 12px;
      color: #ffffff;
      background-color: $open_color;
      &--lock {
        background-color: $main_color;
      }
    }
  }
}