@media screen and (max-width: 800px) {
  .detailsWrap {
    max-width: 800px;
  }
  .detailsContent {
    &__area {
      overflow: scroll;
      width: calc(100vw);
    }
    &__view {
      min-height: calc(100vh - 56px - 40px - 40px);
    }
    &__header {
      padding: 0 5px;
      &--title {
        font-size: 14px;
      }
      &--btn {
        min-width: 165px;
      }
      &--alter {
        min-width: 75px;
        font-size: 12px;
      }
    }
    &__alter {
      padding: 0px 5px 20px;
    }
    &__origin {
      font-size: 12px;
    }
  }
  .detailsSide {
    height: auto;
    padding: 20px 5px 40px;
  }
}

@media screen and (min-width: 800px) {
  .detailsWrap {
    width: 800px;
    margin: 0 auto;
  }
  .detailsContent {
    &__area {
      width: 800px;
    }
    &__view {
      min-height: calc(100vh - 56px - 40px - 40px);
    }
    &__header {
      padding: 0 20px;
      &--title {
        font-size: 16px;
      }
      &--btn {
        min-width: 190px;
      }
      &--alter {
        min-width: 90px;
        font-size: 14px;
      }
    }
    &__origin {
      font-size: 14px;
    }
    &__alter {
      padding: 0px 20px 20px;
    }
  }
  .detailsSide {
    height: auto;
    padding: 20px 20px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .detailsWrap {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
  }
  .detailsContent {
    #details_scroll {
      display: none;
    }
    &__area {
      height: calc(100vh - 56px - 40px - 40px);
    }
    &__alter {
      padding: 0px 20px 20px;
    }
  }
  .detailsSide {
    height: calc(100vh - 56px - 40px);
    min-width: 400px;
  }
}

.details {
  background-color: $back_color;
  background: rgba($back_color,0.6);
}

.detailsContent {
  position: relative;
  #details_scroll {
    padding-top: 60px;
    & span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      opacity: 0.7;
      border: 2px solid $white_color;
      border-radius: 100%;
      box-sizing: border-box;
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 2px solid $white_color;
        border-bottom: 2px solid $white_color;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;        
      }
    }
  }
  &__header {
    height: 40px;
    line-height: 40px;
    color: $white_color;
    background-color: $menu_color;
    background: rgba($menu_color,0.85);
    display: flex;
    justify-content: space-between;
    &--title {
      display: inline-block;
      white-space: nowrap;
      overflow: scroll;
    }
    &--btn {
      text-align: right;
    }
    &--alter {
      padding: 3px;
      text-decoration: none;
      background-color: #eeeeee;
      color: $main_color;
      border-radius: 3px;
    }
  }
  &__area {
    background: rgba(#cab8d9,0.7);
  }
  &__view {
    height: 100%;
    width: 100%;
  }
  &__alter {
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  &__origin {
    line-height: 35px;
    margin: 0 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: scroll;
  }
  &__link {
    line-height: 35px;
    text-decoration: none;
    text-decoration: underline;
    color: $text_blue;
  }
  &__frame {
    min-height: 100px;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    background: rgba(#f7f6fb,0.8);
  }
}

.detailsSide {
  overflow: scroll;
  background: rgba($detail_side,0.8);
  &__link {
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 5px;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: $white_color;
    background-color: $main_color;
    &:hover {
      color: #dddddd;
    }
  }
  .detailsTable {
    margin: 0 0 10px;
    min-width: 100%;
    font-size: 12px;
    &__th {
      width: 20%;
      padding: 8px;
      text-align: center;
      border: solid 1px #999999;
      background-color: #eeeeee;
    }
    &__td {
      width: 61%;
      padding: 8px;
      word-break: break-all;
      border:solid 1px #999999;
      background-color: #fefefe;
      &--title {
        font-size: 14px;
        font-weight: bold;
      }
    }
    &__link {
      color: $text_blue;
      text-decoration: none;
      &--url {
        line-height: 0.5em;
        font-size: 10px;
      }
      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
    &__disclosure {
      margin-left: 8px;
      padding: 3px;
      font-size: 12px;
      color: $white_color;
      background-color: $open_color;
      &--lock {
        background-color: $main_color;
      }
    }
  }
  .detailsMarking {
    width: 100%;
    text-align: right;
    &__bookmark {
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      color: $white_color;
      background-color: $main_color;
      border-radius: 20px;
      font-family: 'arial';
      & .fas {
        color: $good_color;
      }
      & .far {
        color: $white_color;
      }
    }
  }
}
