@media screen and (max-width: 700px) {
  .documentTable {
    font-size: 12px;
    &__hidden {
      display: none;
    }
  }
}

@media screen and (min-width: 700px) {
  .documentTable {
    font-size: 14px;
  }
}

.documents {
  &__link {
    text-decoration: none;
  }
}

.documentTable {
  &__header {
    font-weight: bold;
  }
  & table {
    width: 100%;
    table-layout: fixed;
  }
  & th, td {
    padding: 6px 10px;
    border-bottom: solid 1px $text_color;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__title {
    width: 50%;
  }
  &__marking {
    width: 10%;
    text-align: center;
    font-size: 12px;
    & i {
      color: $good_color;
    }
  }
  &__section {
    width: 25%;
  }
  &__nickname {
    width: 15%;
    padding: 6px 10px;
    border-bottom: solid 1px $text_color;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    color: $text_color;
    & i {
      width: 16px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__open {
    color: $open_color;
  }
}
