@media screen and (min-width: 200px) {
  .main {
    max-width: 700px;
    .menu {
      display: flex;
      justify-content: space-around;
      padding: 10px;
      &__list {
      }
    }
    .content {
    }
    .side {
      height: 200px;
    }
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .main {
    min-width: 1020px;
    .menu {
      display: flex;
      justify-content: space-around;
      padding: 10px;
      &__list {
      }
    }
    .mainWrap {
      display: flex;
      .content {
        min-width: 700px;
      }
      .side {
        min-width: 320px;
        height: auto;
        min-height: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 1200px;
    display: flex;
    justify-content: center;
    .menu {
      display: block;
      min-width: 180px;
      padding: 20px;
      line-height: 40px;
    }
    .mainWrap {
      display: flex;
      .content {
        min-width: 700px;
      }  
      .side {
        min-width: 320px;
        height: auto;
        min-height: 100%;
        padding: 10px;
      }
    }
  }
}

.main {
  margin: 0 auto;
}

.menu {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  background-color: $menu_color;
  overflow: scroll;
  &__list i {
    font-size: 16px;
    width: 20px;
  }
}

.content {
  padding: 20px;
  background-color: #cccccc;
}

.contentGroup {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__link {
    text-decoration: none;
    color: #222222;
    &--white {
      color: $text_color;
    }
  }
  &__doc {
    height: 25px;
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    line-height: 25px;
    border-bottom: 1px solid #2e38d1;
    display: flex;
    &--title {
      display: inline-block;
      width: 160px;
      margin: 0 10px;
      white-space: nowrap;
      overflow: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &--note {
      display: inline-block;
      width: 430px;
      font-weight: lighter;
      color: #222222;
      white-space: nowrap;
      overflow: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.contentArea {
  height: calc(100vh - 100px);
  width: 100%;
  &__view {
    height: 100%;
    width: 100%;
  }
}

.side {
  background-color: $sub_color;
  &Table {
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    &__th {
      width: 20%;
      padding: 8px;
      text-align: center;
      border: solid 1px #999999;
      background-color: #eeeeee;
    }
    &__td {
      width: 61%;
      padding: 15px;
      border:solid 1px #999999;
      background-color: #eeeeee;
    }
  }
}

