.contentGroup {
  &__link {
    text-decoration: none;
  }
  &__doc {
    height: 25px;
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    line-height: 25px;
    border-bottom: 1px solid $doc_color;
    display: flex;
    &--title {
      display: inline-block;
      width: 160px;
      margin: 0 10px;
      font-weight: bold;
      color: $doc_color;
      white-space: nowrap;
      overflow: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &--note {
      display: inline-block;
      width: 430px;
      font-weight: lighter;
      color: #222222;
      white-space: nowrap;
      overflow: scroll;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
