@media screen and (min-width: 380px) {
  .main {
    max-width: 700px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .main {
    min-width: 1020px;
    .mainWrap {
      display: flex;
      .mainContent {
        min-width: 700px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 1200px;
    display: flex;
    justify-content: center;
    .mainWrap {
      display: flex;
      .mainContent {
        min-width: 700px;
      }  
    }
  }
}

.main {
  margin: 0 auto;
}

.mainContent {
  min-height: calc(100vh - 76px);
  padding: 20px;
  background-color: $bg_color;
  &__top {
    height: 150px;
    background-color: $explain_color;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    &--image {
      height: 100%;
    }
  }
  &__explain {
    padding-left: 10px;
    font-family: 'Hiragino Maru Gothic Pro';
    overflow: scroll;
    &--heading {
      font-size: 20px;
      // font-weight: bold;
      color: $main_color;
      margin: 5px 0 10px;
    }
    &--text {
      font-size: 14px;
      margin: 5px;
    }
  }
}

.mainContentSection {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $text_bg_color;
  &__wrap {
    font-size: 18px;
  }
  &__link {
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #222222;
    &:hover {
      opacity: 0.7;
    }
    & i {
      color: $main_color;
    }
  }
  &__owner {
    margin-left: 10px;
    font-size: 13px;
    color: #ffffff;
    padding: 2px;
    background-color: $menu_color;
  }
}
