@media screen and (min-width: 380px) {
  .menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .side {
    min-width: 320px;
    height: auto;
    min-height: 100%;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .side {
    min-width: 320px;
    height: auto;
    min-height: 100%;
  }
  .menu {
    display: block;
    min-width: 180px;
    padding: 20px;
    line-height: 40px;
  }
}

.menu {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  background-color: $menu_color;
  overflow: scroll;
  &__list {
    text-decoration: none;
    color: #ffffff;
    &:hover {
      opacity: 0.7;
    }
    & i {
      font-size: 16px;
      width: 20px;
    }
  }
}

.side {
  padding: 20px;
  background-color: $sub_color;
}

.sideSection {
  &__heading {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #222222;
    &:hover {
      opacity: 0.7;
    }
  }
  &__title {
    padding: 10px 10px 0;
  }
  &__link {
    font-size: 16px;
    text-decoration: none;
    color: $main_color;
    &:hover {
      opacity: 0.7;
    }
  }
}
