@media screen and (min-width: 0px) {
  .menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
    font-size: 13px;
    &__contents {
      display: none;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 1020px) {
  .menu {
    padding: 10px;
    font-size: 15px;
    &__contents {
      display: none;
    }
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .side {
    min-width: 320px;
    height: auto;
    min-height: 100%;
  }
  .menu {
    font-size: 15px;
    &__contents {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .side {
    min-width: 320px;
    height: auto;
    min-height: 100%;
  }
  .menu {
    display: block;
    min-width: 180px;
    padding: 20px;
    line-height: 32px;
    font-size: 15px;
    &__contents {
      display: inline-block;
    }
  }
}

.menu {
  width: 100%;
  color: #ffffff;
  background-color: $menu_color;
  overflow: scroll;
  &__list {
    display: block;
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: #dddddd;
    }
    & i {
      font-size: 15px;
      width: 20px;
    }
  }
  &__content {
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
    &:hover {
      color: #dddddd;
    }
    & i {
      width: 20px;
    }
  }
}

.side {
  padding: 20px 20px 20px;
  background-color: $side_color;
  min-height: 194px;
}

.sideSection {
  &__heading {
    padding: 5px 0;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: $side_text;
    &:hover {
      opacity: 0.7;
    }
    & i {
      color: $side_text;
    }
  }
  &__title {
    padding: 0px 10px 5px;
  }
  &__link {
    font-size: 14px;
    text-decoration: none;
    color: $side_text;
    &:hover {
      opacity: 0.7;
    }
    & i {
      color: $side_text;
    }
  }
}
