@media screen and (min-width: 0px) {
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    font-size: 13px;
    &__contents {
      display: none;
    }
    &__list {
      line-height: 22px;
    }
    & i {
      width: 13px;
    }
  }
}

@media screen and (min-width: 700px) {
  .menu {
    padding: 10px;
    font-size: 15px;
    & i {
      width: 20px;
    }
  }
}

@media screen and (min-width: 1020px) {
  .side {
    min-width: 320px;
    height: auto;
    min-height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    display: block;
    min-width: 180px;
    padding: 20px;
    line-height: 32px;
    &__contents {
      display: inline-block;
    }
    &__list {
      line-height: unset;
    }
  }
}

.menu {
  width: 100%;
  color: $white_color;
  background: rgba($menu_color,0.9);
  overflow: scroll;
  &__list {
    display: block;
    text-decoration: none;
    color: $white_color;
    &:hover {
      color: #dddddd;
    }
  }
  &__content {
    display: block;
    font-size: 14px;
    padding-left: 10px;
    text-decoration: none;
    color: $white_color;
    &:hover {
      color: #dddddd;
    }
  }
}

.side {
  padding: 20px 20px 20px;
  background: rgba($side_color,0.8);
  min-height: 194px;
}

.sideSection {
  &__heading {
    padding: 5px 0;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: $side_text;
    &:hover {
      opacity: 0.7;
    }
    & i {
      color: $side_text;
    }
  }
  &__title {
    font-size: 14px;
    padding: 3px 0px 5px 12px;
    margin-left: 1.5em;
    text-indent: -0.64em;
  }
  &__link {
    text-decoration: none;
    color: $side_text;
    &:hover {
      opacity: 0.7;
    }
    & i {
      color: $side_text;
    }
  }
}
