@media screen and (max-width: 700px) {
  .register {
    &__error {
      padding: 10px;
      font-size: 13px;
    }
    &__heading {
      font-size: 18px;
    }
    &__form {
      font-size: 13px;
      padding: 20px 0;
      &--th {
        width: 18%;
        padding: 20px 0px 0px 5px;
      }
      &--td {
        width: 82%;
        padding: 20px 5px 0px;
      }
    }
    &__count {
      padding: 0px 5px 0px;
    }  
  }
}

@media screen and (min-width: 700px) {
  .register {
    &__error {
      padding: 20px;
    }
    &__heading {
      font-size: 24px;
    }
    &__form {
      padding: 20px 0;
      &--th {
        width: 15%;
        padding: 20px 0px 0px 20px;
      }
      &--td {
        width: 85%;
        padding: 20px 20px 0px;
      }
    }
    &__count {
      padding: 0px 20px 0px;
    }
  }
}

.register {
  &__heading {
    padding: 0px 30px;
    color: $text_color;
    text-align: center;
    & i {
      color: $main_color;
      width: 28px;
    }
  }
  &__form {
    width: 100%;
    padding: 10px 0;
    & table {
      width: 100%;
    }
    &--th {
      vertical-align: top;
      font-weight: bold;
      color: $doc_color;
    }
    &--td {
    }
  }
  &__text {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    &--area {
      height: 160px;
      padding: 10px;
    }
    &--area_alt {
      font-size: 14px;
      height: 400px;
      padding: 10px;
    }
  }
  &__members {
    padding: 10px 15px;
    background-color: #ffffff;
  }
  &__checkbox {
    line-height: 30px;
  }
  &__count {
    text-align: right;
    font-size: 10px;
  }
  &__submit {
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    &--btn {
      width: 100%;
      line-height: 40px;
      color: #ffffff;
      background-color: $main_color;
    }
  }
}
