@media screen and (min-width: 380px) {
  .register {
    max-width: 700px;
    .registerWrap {
      .register__content {
        max-width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .register {
    min-width: 1020px;
    .registerWrap {
      display: flex;
      .register__content {
        width: 700px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .register {
    width: 1200px;
    display: flex;
    justify-content: center;
    .registerWrap {
      display: flex;
      .register__content {
        width: 700px;
      }  
    }
  }
}

.register {
  margin: 0 auto;
  &__error {
    margin: 20px;
  }
  &__content {
    // min-width: 700px;
    min-height: calc(100vh - 76px);
    margin: 0 auto;
    background-color: $bg_color;
  }
  &__heading {
    font-size: 24px;
    padding: 30px 30px 0px;
    color: $text_color;
    text-align: center;
    & i {
      color: $main_color;
      width: 28px;
    }
  }
  &__form {
    width: 100%;
    padding: 20px;
    & table {
      width: 100%;
    }
    & th {
      width: 15%;
      padding: 10px 0px 10px 20px;
    }
    & td {
      width: 85%;
      padding: 10px 20px;
    }
  }
  &__text {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    &--area {
      height: 160px;
      padding: 10px;
    }
    &--area_alt {
      font-size: 14px;
      height: 400px;
      padding: 10px;
    }
  }
  &__members {
    padding: 10px 15px;
    background-color: #ffffff;
    // border: 1px solid #999999;
  }
  &__checkbox {
    line-height: 30px;
  }
  &__count {
    padding: 0;
    text-align: right;
    font-size: 10px;
  }
  &__submit {
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    &--btn {
      width: 100%;
      line-height: 40px;
      color: #ffffff;
      background-color: $main_color;
    }
  }
}
