@media screen and (max-width: 700px) {
  .sectionTable {
    font-size: 12px;
  }
  .sectionContent {
    &__table {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 700px) {
  .sectionTable {
    font-size: 14px;
  }
  .sectionContent {
    &__table {
      font-size: 14px;
    }
  }
}

.sectionContent {
  &__link {
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 5px;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color: $main_color;
    &:hover {
      color: #dddddd;
    }
  }
  &__box {
    padding: 20px;
    margin-bottom: 20px;
    background-color: $text_bg_color;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__heading {
    font-size: 16px;
    margin-left: 10px;
  }
  &__table {
    padding: 10px;
    // font-size: 14px;
    &--name {
      // font-size: 14px;
      font-weight: bold;
    }
    &--link {
      text-decoration: none;
      color: #222222;
    }
    & table {
      width: 100%;
      table-layout: fixed;
    }
    & th {
      width: 20%;
      padding: 8px;
      text-align: center;
      border: solid 1px #999999;
      background-color: #eeeeee;
    }
    & td {
      width: 80%;
      padding: 8px;
      border:solid 1px #999999;
      background-color: #fefefe;
    }
  }
  &__disclosure {
    // margin-left: 8px;
    padding: 3px;
    // font-size: 12px;
    & i {
      color: $open_color;
    }
    &--lock i {
      color: $text_blue;
    }
    // color: #ffffff;
    // background-color: $open_color;
    // &--lock {
    //   background-color: $main_color;
    // }
  }
  &__members {
    margin-right: 8px;
  }
  &__list {
    padding: 10px;
    &--title {
      font-size: 16px;
      margin: 10px 0;
    }
  }
}

.sectionTable {
  & table {
    width: 100%;
    table-layout: fixed;
  }
  &--heading {
    font-weight: bold;
    &:hover {
      opacity: 1;
    }
  }
  &__th {
    width: 30%;
    padding: 6px 10px;
    font-weight: bold;
    border-bottom: solid 1px $text_color;
    overflow: scroll;
    // text-overflow: ellipsis;
    white-space: nowrap;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__td {
    padding: 6px 10px;
    border-bottom: solid 1px $text_color;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    &--disclosure {
      width: 20%;
    }
    &--users {
      width: 50%;
      & a {
        padding-right: 8px;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    color: $text_color;
  }
}
