@media screen and (min-width: 380px) {
  .section {
    max-width: 700px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .section {
    min-width: 1020px;
    .sectionWrap {
      display: flex;
      .sectionContent {
        min-width: 700px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    display: flex;
    justify-content: center;
    .sectionWrap {
      display: flex;
      .sectionContent {
        min-width: 700px;
      }  
    }
  }
}

.section {
  margin: 0 auto;
  .sectionContent {
    min-height: calc(100vh - 76px);
    padding: 20px;
    background-color: #dddddd;
    &__box {
      padding: 20px;
      margin-bottom: 20px;
      background-color: #eeeeee;
    }
    &__title {
      font-size: 18px;
    }
  }
  .side {
    padding: 20px;
    background-color: $sub_color;
  }
}

