@media screen and (min-width: 380px) {
  .section {
    max-width: 700px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .section {
    min-width: 1020px;
    .sectionWrap {
      display: flex;
      .sectionContent {
        min-width: 700px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    display: flex;
    justify-content: center;
    .sectionWrap {
      display: flex;
      .sectionContent {
        min-width: 700px;
      }  
    }
  }
}

.section {
  margin: 0 auto;
}

.sectionTable {
  & table {
    width: 100%;
    font-size: 14px;
    table-layout: fixed;
  }
  &--heading {
    font-weight: bold;
    &:hover {
      opacity: 1;
    }
  }
  &__th {
    width: 30%;
    padding: 6px 10px;
    font-weight: bold;
    border-bottom: solid 1px $text_color;
    overflow: scroll;
    // text-overflow: ellipsis;
    white-space: nowrap;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__td {
    padding: 6px 10px;
    border-bottom: solid 1px $text_color;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    &--disclosure {
      width: 20%;
    }
    &--users {
      width: 50%;
      & span {
        padding-right: 8px;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__link {
    text-decoration: none;
    color: $text_color;
  }
}

.sectionContent {
  min-height: calc(100vh - 76px);
  padding: 20px;
  background-color: $bg_color;
  &__link {
    display: inline-block;
    margin-bottom: 10px;
    padding: 2px 5px;
    text-align: right;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    background-color: $main_color;
    &:hover {
      color: #dddddd;
    }
  }
  &__box {
    padding: 20px;
    margin-bottom: 20px;
    background-color: $text_bg_color;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__table {
    padding: 10px;
    font-size: 12px;
    & table {
      width: 100%;
      table-layout: fixed;
    }
    & th {
      width: 20%;
      padding: 8px;
      text-align: center;
      border: solid 1px #999999;
      background-color: #eeeeee;
    }
    & td {
      width: 80%;
      padding: 8px;
      border:solid 1px #999999;
      background-color: #fefefe;
    }
  }
  &__disclosure {
    margin-left: 8px;
    padding: 3px;
    font-size: 12px;
    color: #ffffff;
    background-color: #dc143c;
    &--lock {
      background-color: $main_color;
    }
  }
  &__members {
    margin-right: 8px;
  }
  &__list {
    padding: 10px;
    &--title {
      font-size: 16px;
      margin: 10px 0;
    }
  }
}
