@media screen and (min-width: 380px) {
  .user {
    max-width: 700px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .user {
    min-width: 1020px;
    .userWrap {
      display: flex;
      .userInfo {
        min-width: 700px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .user {
    width: 1200px;
    display: flex;
    justify-content: center;
    .userWrap {
      display: flex;
      .userInfo {
        min-width: 700px;
      }  
    }
  }
}

.user {
  margin: 0 auto;
  .userInfo {
    min-height: calc(100vh - 76px);
    padding: 20px;
    background-color: $bg_color;
  }
}

.userContent {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  &__user {
    background-color: $user_color;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__table {
    width: 100%;
    & tr {
      font-size: 14px;
      border-bottom: 1px solid #999999;
      & th {
        width: 30%;
        padding: 10px;
      }
      & td {
        width: 70%;
        padding: 10px;
      }
    }
  }
  &__profile {
    font-size: 14px;
    padding: 5px;
    &--link {
      padding: 5px;
      text-decoration: none;
      background-color: $main_color;
      color: #ffffff;
      &:hover {
        color: #dddddd;
      }
    }
    &--friend {
      background-color: $open_color;
    }
  }
}
