@media screen and (max-width: 700px) {
  .userContent {
    padding: 20px 5px;
    &__title {
      font-size: 16px;
    }
    &__info {
      font-size: 14px;
    }
  }
  .userMail {
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  .userContent {
    padding: 20px;
    &__title {
      font-size: 18px;
    }
    &__info {
      font-size: 16px;
    }
  }
  .userMail {
    font-size: 14px;
  }
}

.userContent {
  margin-bottom: 20px;
  background-color: #ffffff;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    text-decoration: none;
    &--btn {
      display: inline-block;
      padding: 2px 8px;
      font-size: 14px;
      color: #ffffff;
      background-color: #008080;
      &:hover {
        color: #dddddd;
      }
    }
    &--main {
      background-color: $main_color;
    }
    &--blue {
      color: $text_blue;
    }
  }
  &__title {
    margin-bottom: 5px;
    &--next {
      margin-top: 15px;
    }
  }
  &__lists {
    font-size: 14px;
    padding: 5px;
    &--link {
      text-decoration: none;
      color: $text_blue;
    }
  }
  &__table {
    width: 100%;
    & tr {
      font-size: 14px;
      border-bottom: 1px solid #999999;
      & th {
        width: 30%;
        padding: 10px 2px 10px 10px;
      }
      & td {
        width: 70%;
        padding: 10px;
      }
    }
  }
  &__profile {
    font-size: 14px;
    padding: 5px;
    &--link {
      padding: 5px;
      text-decoration: none;
      background-color: $main_color;
      color: #ffffff;
      &:hover {
        color: #dddddd;
      }
    }
  }
  &__friend-notice {
    color: $text_blue;
    margin-bottom: 10px;
  }
  &__friend-wrap {
    display: flex;
  }
  &__friend {
    display: inline-block;
    padding: 2px 5px;
    font-size: 14px;
    color: #ffffff;
    &--request {
      background-color: #008080;
    }
    &--consent {
      background-color: $text_blue;
    }
    &--refusal {
      background-color: #e8383d;
      margin-left: 10px;
    }
    &--message {
      background-color: #434da2;
      &:hover {
        color: #dddddd;
      }
    }
    &--pending {
      background-color: $text_blue;
    }
  }
  &__info {
    padding: 5px;
    font-weight: bold;
    &--color {
      background-color: $user_color;
    }
    &--link {
      color: $text_blue;
      text-decoration: none;
    }
    &--mark {
      color: #ff3300;
    }
    &--no-list {
      padding: 0 10px;
      font-size: 14px;
      color: #434da2;
    }
  }
}

.userMail {
  width: 100%;
  table-layout: fixed;
  font-family: 'Hiragino Kaku Gothic Pro';
  & th, td {
    display: inline-block;
    padding: 4px 6px;
    border-bottom: 1px solid #999999;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__unread {
    color: #e8383d;
  }
  &__bold {
    font-family: 'HiraKakuPro-W6';
  }
  &__send {
    font-size: 12px;
    padding: 2px;
    color: #ffffff;
    background-color: #4b3c81;
  }
  &__receive {
    font-size: 12px;
    padding: 2px;
    color: #ffffff;
    background-color: #e8383d;
  }
  &__user {
    width: 35%;
    & a {
      color: $text_blue;
    }
  }
  &__title {
    width: 40%;
  }
  &__time {
    width: 25%;
    text-align: right;
    color: #666666;
  }
  &__link {
    color: $text_blue;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}
